body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.home {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background: url("../assets/ptcbackground.jpg") center/cover no-repeat;
}

.home-card {
  width: 400px;
  padding: 40px;

  text-align: center;

  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(10px);

  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.logo img {
  width: 180px;
  margin-bottom: 20px;
}

.home-card h1 {
  margin-bottom: 10px;
}

.home-card p {
  color: #555;
  margin-bottom: 25px;
}
/* DASHBOARD WRAPPER */
.dashboard-wrapper {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

/* SIDEBAR */
.sidebar {
  width: 240px;
  background: #f5f6fa;
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  flex-shrink: 0;
}

.sidebar-logo {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 20px;
}

.sidebar-logo img {
  width: 50px;
  height: auto;
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap: 5px;
}

.sidebar-link {
  padding: 12px 20px;
  color: rgba(0, 0, 0, 0.7);
  text-decoration: none;
  font-size: 0.95rem;
  transition: 0.2s;
}

.sidebar-link:hover {
  background: rgb(10, 238, 10);
  color: white;
}

.sidebar-link.active {
  background: var(--primary-green);
  color: rgb(33, 233, 83);
  font-weight: 600;
}

/* MAIN AREA */
.dashboard-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.app-header {
  height: 70px;
  background: #cdd6c9;
  border-bottom: 1px solid #e5e7eb;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  position: sticky;
  top: 0;
  z-index: 100;
}

.logo {
  font-size: 20px;
  font-weight: 700;
  color: #1e293b;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 16px;
}

.user-info {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.user-name {
  font-weight: 600;
  font-size: 14px;
}

.user-role {
  font-size: 12px;
  color: #6b7280;
}

.logout-btn {
  background: #ef4444;
  border: none;
  color: white;
  padding: 6px 14px;
  border-radius: 8px;
  font-size: 13px;
  cursor: pointer;
  transition: 0.2s;
}

.logout-btn:hover {
  background: #dc2626;
}

/* CONTENT */
.dashboard-content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  background: #f5f6fa;
}
.footer {
  background: #0f172a;
  color: #cbd5e1;
}

.footer-title {
  font-weight: 700;
  color: #fff;
}

.footer-subtitle {
  font-weight: 600;
  margin-bottom: 10px;
  color: #e2e8f0;
}

.footer-text {
  font-size: 14px;
  line-height: 1.6;
}

.footer-links {
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin-bottom: 6px;
}

.footer-links a {
  text-decoration: none;
  color: #cbd5e1;
  transition: 0.2s;
}

.footer-links a:hover {
  color: #38bdf8;
  padding-left: 4px;
}

.footer-bottom {
  font-size: 13px;
  opacity: 0.7;
}
